<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- BEGIN HEADER -->
<div  class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <div style="padding-left: 0px" class="page-logo">
                <a href="index.html">
                    <img style="height:45px; margin-top: 0px;" src="views/resources/logo.PNG" alt="logo" class="logo-default"/>
                </a>
        </div>
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->