<!-- BEGIN SIDEBAR -->
<div>
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <!-- BEGIN SIDEBAR MENU -->
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler">
					</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
				</li>
            <li class="start active open">
                <a href="javascript:;">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-cube"></i>
                    <span class="title">Distribution</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">   
                    <li>
                         <a href="#/viewdistributions">
                            Distribution List</a>
                    </li>                                
                    <li>
                        <a href="#/distributions/">
                            Add Distribution
                        </a>
                    </li>                   
                </ul>                                
            </li>
            <li>
                 <a href="javascript:;">
                    <i class="fa fa-money"></i>
                    <span class="title">Voucher Type</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a  href="#/viewvouchertypes">
                            Voucher Type List
                        </a>
                    </li>
                    <li>
                        <a  href="#/viewvouchertypes">
                            Add Voucher Type
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                 <a href="javascript:;">
                    <i class="fa fa-home"></i>
                    <span class="title">Vendors</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                     <li>
                        <a href="#/viewvendors">
                            Vendor List
                        </a>
                    </li>
                     <li>
                        <a href="#/viewvendors">
                            Add Vendor
                        </a>
                    </li>
                </ul>
            </li>
              <li>
                 <a href="javascript:;">
                    <i class="fa fa-mobile"></i>
                    <span class="title">Mobiles</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                       <li>
                        <a href="#/viewmobiles">
                            View Mobiles
                        </a>
                    </li>
                       <li>
                        <a href="#/viewmobiles">
                            Add Mobile
                        </a>
                    </li>
                </ul>
            </li>        
                      
        </ul>
        <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
