<!DOCTYPE html>

<div ng-controller='DistributionsController'>
    <div class="portlet-body form">
        <form action="#" class="form-horizontal form-bordered" name="DistributionForm">
            <div class="form-body">             
                <div class="form-group">
                    <label class="control-label col-md-3">Program</label>
                    <div class="col-md-4">                  
                        <select class="form-control" data-placeholder="Select..." ng-model='distribution.program' ng-options='programItem.name for programItem in programItems track by programItem.id' required></select>										
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Donor</label>
                    <div class="col-md-4">
                        <select class="form-control" data-placeholder="Select..." ng-model='distribution.donor' ng-options='donorItem.name for donorItem in donorItems track by donorItem.id' required></select>											
                    </div>
                </div>               
                <div class="form-group">
                    <label class="control-label col-md-3">Start-End Date:</label>
                    <div class="col-md-4">
                        <div class="input-group" id="defaultrange">
                            <input ng-model="distribution.date" type="text" class="form-control"  required>
                            <span class="input-group-btn">
                                <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="control-label col-md-3">Online</label>
                    <div class="col-md-9">
                        
                        <input bs-switch ng-model="distribution.online" name="online-switch" type="checkbox" class="make-switch" data-on-text="&nbsp;Online&nbsp;" data-off-text="&nbsp;Offline&nbsp;" data-on="1" data-off="0" >
                    </div>
                </div>         
                <div class="form-group" style="float: right">
                    <button style="width:100px" type="button" class="btn red"><i class="fa fa-times"></i> Cancel</button>
                    <button  style="width:100px" type="button" class="btn green" ng-click="Save(distribution)"><i class="fa fa-floppy-o"></i>Save</button>
                </div>
            </div>   
        </form>
    </div>
</div>

<!-- Datetimepickers related PLUGINS -->
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/clockface/js/clockface.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="include/theme/metronic/admin/pages/scripts/components-pickers.js"></script>
<!-- END PLUGINS -->

<script>
    jQuery(document).ready(function () {    
        Metronic.init();
        ComponentsPickers.init();    
    });
   
</script>
