<!DOCTYPE html>

<div ng-controller='beneficiaryDistController'>
    <div class="portlet-body form">
        <form action="#" class="form-horizontal form-bordered">
            <div class="form-body">  

                <div class="table-container">
                    <div class="table-actions-wrapper">
                        <span>
                        </span>                        
                        <button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
                        <thead>
                           <tr role="row" class="heading">
                                <th width="2%">
                                    <input type="checkbox" class="group-checkable">
                                </th>
                                <th width="5%">
                                    Registration_Code&nbsp;#
                                </th>
                                <th width="15%">
                                    EN Name
                                </th>
                                <th width="15%">
                                    Father
                                </th>
                                <th width="10%">
                                    Birth&nbsp;To
                                </th>    
                                <th></th>
                            </tr>
                            <tr role="row" class="filter">
                                <td>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" name="order_id">
                                </td>                             
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" name="order_customer_name">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" name="order_ship_to">
                                </td>
                                 <td>
                                    <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                                        <input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                    <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                        <input type="text" class="form-control form-filter input-sm" readonly name="order_date_to" placeholder="To">
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </td>
                       <!--
                                <td>
                                    <select name="order_status" class="form-control form-filter input-sm">
                                        <option value="">Select...</option>
                                        <option value="pending">Pending</option>
                                        <option value="closed">Closed</option>
                                        <option value="hold">On Hold</option>
                                        <option value="fraud">Fraud</option>
                                    </select>
                                </td>
                          -->
                                <td>
                                    <div class="margin-bottom-5">
                                        <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                                    </div>
                                    <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="beneficiary in beneficiaries">
                                <td></td>
                                <td>{{beneficiary.registration_code}}</td>
                                <td>{{beneficiary.en_name}}</td>
                                <td>{{beneficiary.father_name}}</td>
                                <td>{{beneficiary.birth_year}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Fixed Width</label>
                    <div class="col-md-6">
                        <input id="tags_2" type="text" class="form-control tags medium" value="tag1,tag2"/>
                    </div>
                </div>

                <div class="form-group" style="float: right">
                    <button style="width:100px" type="button" class="btn red"><i class="fa fa-times"></i> Cancel</button>
                    <button  style="width:100px" type="button" class="btn green"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>   
        </form>
    </div>
</div>



<script>
    //ComponentsFormTools.init();
           Metronic.init(); // init metronic core components
Layout.init(); // init current layout
QuickSidebar.init(); // init quick sidebar
Demo.init(); // init demo features
           ComponentsFormTools.init();
    TableAjax.init();
    
</script>