<!DOCTYPE html>

<div ng-controller='subdistributionsController'>
    <div class="portlet-body form">
        <form action="#" class="form-horizontal form-bordered">
            <div class="form-body">  

                <div class="form-group">
                    <label class="control-label col-md-3">Code</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="subdist.code" placeholder="Code...">
                    </div>
                </div>  
                <div class="form-group">
                    <label class="control-label col-md-3">Status</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="subdist.status" placeholder="Pending" disabled >
                    </div>
                </div> 

                <div class="form-group">
                    <label class="control-label col-md-3">Start-End Date</label>
                    <div class="col-md-9">
                        <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                            <input name="daterange" type="text" class="form-control"  ng-model="subdist.startdate">
                            <span class="input-group-addon">
                                to </span>
                            <input type="text" class="form-control" name="to" ng-model="subdist.enddate">
                        </div>
                        <!-- /input-group -->
                        <span class="help-block">
                            Select date range </span>
                    </div>        
                </div>        
                <div class="form-group">
                    <label class="control-label col-md-3">Country</label>
                    <div class="col-md-4">
                        <select class="form-control input-medium select2me" data-placeholder="Select..." ng-model='subdist.country' ng-options='countryItem.name for countryItem in countryItems track by countryItem.id' required></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Governorate</label>
                    <div class="col-md-4">
                        <select class="form-control input-medium select2me" data-placeholder="Select..." ng-model='subdist.governorate' ng-options='governorateItem.en_name for governorateItem in governorateItems track by governorateItem.id' required></select>									
                    </div>
                </div>   
                <div class="form-group">
                    <label class="control-label col-md-3">District</label>
                    <div class="col-md-4">
                        <select class="form-control input-medium select2me" data-placeholder="Select..." ng-model='subdist.district' ng-options='districtItem.en_name for districtItem in districtItems track by districtItem.id' required></select>									
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Subdistrict</label>
                    <div class="col-md-4">
                        <select class="form-control input-medium select2me" data-placeholder="Select..." ng-model='subdist.subdistrict' ng-options='subdistrictItem.en_name for subdistrictItem in subdistrictItems track by subdistrictItem.id' required></select>										
                    </div>
                </div> 
                <div class="form-group">
                    <label class="control-label col-md-3">Community</label>
                    <div class="col-md-4">
                        <select class="form-control input-medium select2me" data-placeholder="Select..." ng-model='subdist.community' ng-options='communityItem.en_name for communityItem in communityItems track by communityItem.id' required></select>										
                    </div>
                </div> 
                <div class="form-group">
                    <label class="control-label col-md-3">Note</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="3" ng-model='subdist.note'></textarea>
                    </div>
                </div> 
                 <div class="form-group" style="float: right">
                    <button style="width:100px" type="button" class="btn red"><i class="fa fa-times"></i> Cancel</button>
                    <button  style="width:100px" type="button" class="btn green" ng-click="Save(subdist)"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>   
        </form>
    </div>
</div>
<script>
                                ComponentsPickers.init();

    /*
  $('input[name="daterange"]').daterangepicker({
           format: 'YYYY-MM-DD',
             startDate: '2013-01-01',
             endDate: '2013-12-31'
  }
            );
            */
    </script>