<!DOCTYPE html>

<div ng-controller='VoucherTypeController'>
    <div class="portlet-body form">
        <form action="#" class="form-horizontal form-bordered">
            <div class="form-body">  


                <div class="form-group">
                    <label class="control-label col-md-3">Type</label>
                    <div class="col-md-4">
                        <select class="form-control input-medium select2me" data-placeholder="Select..." ng-model='vouchType.voucherType' ng-options='voucherTypeItem.name for voucherTypeItem in voucherTypeItems track by voucherTypeItem.id'></select>										
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Expiration Date</label>
                    <div class="col-md-3">
                        <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="" ng-model='vouchType.expireData'/>
                        <span class="help-block">
                            Select date </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Value</label>
                    <div class="col-md-9">
                        <div class="input-inline input-medium">
                            <input id="touchspin" type="text" name="touchspin" class="form-control" ng-model='vouchType.value'>
                        </div>                     
                    </div>
                </div>

                <div class="form-group" style="float: right">
                    <button style="width:100px" type="button" class="btn red"><i class="fa fa-times"></i> Cancel</button>
                    <button  style="width:100px" type="button" class="btn green" ng-click="Save(vouchType)"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>   
        </form>
    </div>
</div>


<script>
     $("input[name='touchspin']").TouchSpin({
                min: 0,
                max: 10000000000,
                step: 1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                prefix: '$'
            });
</script>