<!DOCTYPE html>


<div class="portlet-body form">
    <form action="#" class="form-horizontal form-bordered">
        <div class="form-body">  
            <div class="form-group">
                <label class="control-label col-md-3">Type</label>
                <div class="col-md-4">
                    <select id="typeList" class="form-control input-medium select2me" data-placeholder="Select..." ng-model='subdistributionVoucherType.type_id' ng-options='voucherTypeItem.id as voucherTypeItem.name for voucherTypeItem in voucherTypeItems'>
                        <option value="" ng-hide="subdistributionVoucherType.type_id">Select...</option>
                    </select><!--track by voucherTypeItem.id-->
                </div>
            </div>

<!--            <div class="form-group">
                <label class="control-label col-md-3">Expiration Date</label>
                <div class="col-md-3">
                    <div id="expiredate" class="input-group input-medium date" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
                        <input type="text" class="form-control" readonly  ng-model='subdistributionVoucherType.expiration_date'>
                        <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                     /input-group 
                    <span class="help-block">
                        Select date </span>
                </div>
            </div>-->
            <div class="form-group">
                <label class="control-label col-md-3">Value</label>
                <div class="col-md-3">
                    <div class="input-inline input-medium">
                        <input id="touchspin" type="text" name="touchspin" class="form-control" ng-model='subdistributionVoucherType.value'>
                    </div>                     
                </div>
            </div>

            <div class="form-group" style="float:right;" >
                <button style="width:100px" type="button" class="btn red" ng-click="Reset()"><i class="fa fa-times"></i> Cancel</button>
                <button  style="width:100px" type="button" class="btn green" data-toggle="modal" href="#save"><i class="fa fa-floppy-o"></i> Save</button>
            </div>
        </div>   
    </form>
</div>
<div class="modal fade" id="save" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmation Message</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to save the changes?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn green" data-dismiss="modal" ng-click="Save(subdistributionVoucherType)">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Datetimepickers related PLUGINS -->
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/clockface/js/clockface.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="include/theme/metronic/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="include/theme/metronic/admin/pages/scripts/components-pickers.js"></script>
<!-- END PLUGINS -->

<script>
                    jQuery(document).ready(function () {
                        Metronic.init();
                        ComponentsPickers.init();
                    });

                    $("input[name='touchspin']").TouchSpin({
                        min: 0,
                        max: 10000000000,
                        step: 1,
                        decimals: 2,
                        boostat: 5,
                        maxboostedstep: 10,
                        prefix: '$'
                    });
</script>